<label for="name">Name:</label>
<input type="text" name="name" value="<%= director.name %>">
<label for="tmdb_id">tmdb_id:</label>
<input type="text" name="tmdb_id" value="<%= director.tmdb_id %>">
<label for="imdb_id">imdb_id:</label>
<input type="text" name="imdb_id" value="<%= director.tmdb_id %>">